
@model MathOperation



<title>Get your Calculation</title>


    <form class="form" asp-controller="Convert" asp-action="ShowCalculationResults" method="post">
        <div class="form">
        <label class="label" for="LeftOperand"></label>  
            <input id="LeftOperand" asp-for="@Model.LeftOperand" name="LeftOperand" type="text" placeholder="LeftOperand" class="formctrl">
            <span class="placeholder">Enter first number of your equation</span>    
    </div>
        <div class="form">
        <label class="label" for="RightOperand"></label>   
            <input id="RightOperand" asp-for="@Model.RightOperand" name="RightOperand" type="text" placeholder="Right Operand" class="formctrl">
            <span class="placeholder">Enter second number of your calculation</span>  
</div>  
    <div class="form">
        <label class="label" for="Operator"></label>  
            <input id="Operator" asp-for="@Model.Operator" name="Operator" type="text" placeholder="Type Add,Subtract,Multiply,Divide" class="formctrl">
            <span class="placeholder">Choose one of the operations </span>  
</div>
    <div class="form">
        <label class="label" for="getcalculation"></label>
        <button type = "submit" form = "form" id="getcalculation" name="getcalculation" class="btn">Click</button>
  </div>
    </form>
